@import "./shared/common.scss";

.dark-mode {
  color: #fff;
  background-color: rgb(34, 56, 85);
}

.main {
  min-height: 100vh;
  min-width: 400px;
  padding-left: 200px;
  display: flex;
  justify-content: center;
  margin: 0 2rem;
  &-container {
    width: 100%;
    max-width: 1000px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding-left: 0;
    transition: 0.3s;
  }
}

input {
  &:focus {
    outline: 3px solid $color-blue;
  }
}
