@import "./shared/common.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Noto Sans KR", sans-serif;
}

.dark-mode {
  color: #fff;
  background-color: rgb(34, 56, 85);
}

.main {
  min-height: 100vh;
  min-width: 400px;
  padding-left: 200px;
  display: grid;
  justify-content: center;
  &-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 2rem;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding-left: 0;
    transition: 0.3s;
  }
}

input {
  &:focus {
    outline: 3px solid $color-blue;
  }
}
