$color-blue: #76abdf;
$color-yellow: #f6db4a;
$color-pink: #fbb2fe;

body {
  // background-color: #f8f9fb;
}

.btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  // background: #41729f;
  background-color: #0074b7;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  outline: none;
  &:disabled {
    background-color: gray;
    cursor: initial;
  }
  &:enabled {
    &:hover {
      opacity: 0.7;
      transform: scale(1.1);
    }
  }
}
