.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  &-container {
    display: flex;
    align-items: center;
    &-left {
      display: flex;
      gap: 5px;
      width: 70px;
      &-text {
        color: black;
      }
    }
    &-right {
      width: 30px;
      &-btn-play {
        &:hover {
          cursor: pointer;
          fill: red;
        }
      }
    }
  }
}
