@import "../../common.scss";

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -200px;
  background-color: $color-blue;
  overflow-x: hidden;
  transition: 0.3s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 25px;
  &-logout-btn {
    padding: 10px 15px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: $color-blue;
    color: #fff;
    &:hover {
      cursor: pointer;
      background-color: rgb(59, 100, 214);
    }
  }
  &.active {
    left: 0;
  }
  &-logo {
    width: 40%;
  }
  &-link {
    color: white;
    text-decoration: none;
    text-align: center;
    &:nth-child(1) {
      margin-top: 3rem;
    }
    &-how-to-use {
      width: 15px;
      height: 15px;
      padding: 15px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0074b7;
      border-radius: 50%;
      border: 1px solid $color-pink;
      color: $color-pink;
      animation: updown 2s ease-in infinite;
      &:hover {
        background-color: $color-yellow;
        color: #fff !important;
      }
    }
    &:hover {
      color: $color-pink;
    }
  }
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.sidebar-toggle {
  border: 1px solid red;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 30px;
  cursor: pointer;
  z-index: 2;
  display: none;
  padding: 0;
  background: none;
  border: none;
  font-size: 1.5rem;
  svg {
    color: rgb(17, 48, 87);
  }
}

@media screen and (max-width: 768px) {
  .sidebar-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
