@import "../../../../shared/common.scss";
.topic-card {
  background-color: $color-blue;
  padding: 50px 30px;
  margin: 50px 0;
  border-radius: 10px;
  position: relative;
  &-close {
    width: 25px;
    position: absolute;
    right: 15px;
    top: 10px;
    fill: #fff;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
  &-label {
    display: block;
    padding: 10px 0;
    color: $color-pink;
  }
  &-topic {
    line-height: 2;
    padding: 15px;
    display: flex;
    align-items: center;
    color: $color-yellow;
  }
  &-description {
    line-height: 2;
    padding: 15px;
    color: $color-yellow;
    display: flex;
    align-items: center;
  }
}
