@import "../../../../shared/common.scss";
.topic-card {
  background-color: $color-blue;
  padding: 40px 20px;
  border-radius: 10px;
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 20px;
  &-container {
    width: 100%;
    padding-right: 60px;
    &-input {
      max-width: 100%;
      min-width: 100%;
      min-height: 100px;
      max-height: 200px;
      overflow-y: scroll;
    }
    &-label {
      font-weight: bold;
      display: block;
      padding: 10px 0;
      color: $color-yellow;
      &:nth-child(1) {
        padding-top: 0px;
      }
    }
    &-topic {
      line-height: 1.4;
      color: #fff;
      word-wrap: break-word;
      padding-bottom: 20px;
    }
    &-description {
      color: #fff;
      width: 100%;
      line-height: 1.4;
      word-wrap: break-word;
    }
    &-confirm {
      width: 100px;
      border-radius: 50px;
      border: none;
      padding: 5px;
      margin-top: 20px;
      color: #76abdf;
      background-color: #f6db4a;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
  &-sidebar {
    width: 60px;
    height: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    background-color: #5e88b2;
    text-align: center;
    gap: 20px;
    &-edit {
      width: 20px;
      height: 20px;
      fill: $color-yellow;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
    &-close {
      width: 20px;
      height: 20px;
      fill: $color-pink;
      margin-bottom: 20px;
      &:hover {
        cursor: pointer;
        fill: red;
      }
    }
  }
}
