@import "../../../../shared/common.scss";
.topic-card {
  background-color: $color-blue;
  padding: 40px 30px;
  border-radius: 10px;
  margin: 40px 0;
  position: relative;
  &-close {
    width: 20px;
    fill: #fff;
    position: absolute;
    right: 10px;
    top: 10px;

    &:hover {
      cursor: pointer;
      fill: red;
    }
  }
  &-label {
    display: block;
    padding: 10px 0;
    color: $color-yellow;
    &:nth-child(1) {
      padding-top: 0px;
    }
  }
  &-topic {
    line-height: 1.4;
    color: #fff;
    word-wrap: break-word;
    padding-bottom: 20px;
  }
  &-description {
    color: #fff;
    width: 100%;
    line-height: 1.4;
    word-wrap: break-word;
  }
}
