@import "../../shared/common.scss";
.memory {
  //나중에 검색 날짜 등 붙일 예정
  &-utils-container {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 1rem 0;
  }
  &-contents {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}
