@import "../../shared/common.scss";
.memory {
  //나중에 검색 날짜 등 붙일 예정
  &-utils-container {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 1rem 0;
  }
  &-contents {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    &-default {
      padding: 30px;
      width: 100%;
      max-width: 350px;
      min-width: 200px;
      height: 300px;
      margin: 0 auto;
      color: #fff;
      border-radius: 10px;
      border: 2px dashed #e0e0e0;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        transition: 1;
        background-color: #cbd5e1;
        border: none;
        cursor: pointer;
      }
      &:hover > &-title {
        color: #a5a5a5;
      }
      &-title {
        font-weight: bold;
        font-size: 18px;
        color: #d0d0d0;
      }
    }
  }
}
