@import "../../../../shared/common.scss";
.shuffled-result {
  height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  &-container {
    position: relative;
    padding: 150px 30px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    &-statuses {
      display: flex;
      gap: 20px;
      svg {
        width: 20px;
        height: 20px;
      }
      &-correct {
        display: flex;
        align-items: center;
        gap: 5px;
        fill: green;
        color: green;
      }
      &-uncertation {
        display: flex;
        align-items: center;
        gap: 5px;
        fill: $color-yellow;
        color: $color-yellow;
      }
      &-incorrect {
        display: flex;
        align-items: center;
        gap: 5px;
        fill: red;
        color: red;
      }
    }
    &-btn-container {
      display: flex;
      gap: 20px;
    }
  }
}

$particles: 100;
$width: 1000;
$height: 1000;

// Array of colours to randomly populate the particle colours.
$colors: #2997ff, #3bceac, #f0cd27, #ff9c8f;

// Get the random colour
@function random-color() {
  @return nth($colors, random(4));
}

// Create the explosion...
$box-shadow: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
    random($width)-$width /
      2 +
      px
      random($height)-$height /
      1.2 +
      px
      #{random-color()};
}

.confetti {
  &::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 7px;
    animation: 1.5s explode ease-out 3 backwards,
      1.5s gravity ease-in 3 backwards;
    // animation-delay: 0.5;
    // animation-duration: 1.25s;
  }
}

@keyframes explode {
  to {
    box-shadow: $box-shadow;
  }
}

@keyframes gravity {
  to {
    opacity: 0;
  }
}
