@import "../../../../shared/common.scss";

.shuffled-topics {
  padding: 40px 0;
  margin: 0 30px;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: aliceblue;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    border-radius: 10px;
    &-back {
      width: 30px;
      fill: #146c94;
      transition: 0.3s ease;
      &:hover {
        transform: translateX(-10px);
        cursor: pointer;
        opacity: 0.3;
      }
    }
    &-statuses {
      display: flex;
      gap: 10px;
      svg {
        width: 20px;
        height: 20px;
      }
      &-correct {
        display: flex;
        align-items: center;
        gap: 5px;
        fill: green;
        color: green;
      }
      &-uncertation {
        display: flex;
        align-items: center;
        gap: 5px;
        fill: $color-yellow;
        color: $color-yellow;
      }
      &-incorrect {
        display: flex;
        align-items: center;
        gap: 5px;
        fill: red;
        color: red;
      }
    }
  }
  &-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &-btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    .btn {
      width: 50%;
    }
  }
}
