@import "../../../../shared/common.scss";

.shuffled-topics {
  padding: 40px 0;
  margin: 0 30px;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 10px;
    z-index: 1;
    &-back {
      width: 30px;
      fill: #146c94;
      transition: 0.3s ease;
      &:hover {
        transform: translateX(-10px);
        cursor: pointer;
        opacity: 0.3;
      }
    }
  }
  &-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &-btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    .btn {
      width: 50%;
    }
  }
}
