@import "../../../../shared/common.scss";
.content-card {
  padding: 30px 30px 0 30px;
  width: 100%;
  max-width: 350px;
  min-width: 200px;
  margin: 0 auto;
  background-color: $color-blue;
  color: #fff;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  &-text {
    padding: 20px 0;
    font-weight: bold;
  }
  &-date {
    padding: 20px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    svg {
      width: 20px;
      fill: white;
    }
    &-text {
      padding-left: 20px;
    }
  }
  &-options {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    &-delete {
      width: 20px;
      fill: red;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
    &-arrow {
      width: 20px;
      fill: #fff;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}
