@import "../../../../shared/common.scss";
.content-card {
  padding: 30px 30px 0 30px;
  width: 100%;
  max-width: 350px;
  min-width: 200px;
  margin: 0 auto;
  background-color: $color-blue;
  color: #fff;
  border-radius: 10px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  &-text {
    padding: 20px 0;
    font-weight: bold;
    &-input {
      width: 100%;
    }
  }
  &-date {
    padding: 20px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    svg {
      width: 20px;
      fill: white;
    }
    &-text {
      padding-left: 20px;
    }
  }
  &-options {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    &-confirm {
      width: 100px;
      border-radius: 50px;
      border: none;
      padding: 5px;
      color: $color-blue;
      background-color: $color-yellow;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
    &-delete {
      width: 20px;
      fill: red;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
    &-edit {
      width: 20px;
      fill: $color-pink;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
    &-arrow {
      width: 20px;
      fill: #fff;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}
