@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #00d2ff 0%, #a0a6ee 100%);
  font-family: "DM Sans", sans-serif;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgb(215, 213, 213);
}

.dark-mode {
  background: #202020 !important;
}

.dark-mode-toggle {
  z-index: 1;
  color: #fff;
}

.dark-mode-toggle:hover {
  cursor: pointer;
  color: #727070;
  opacity: 0.75;
}

.d-flex {
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  min-height: 100vh;
}

.section1 {
  background: rgba(117, 123, 136, 0.15);
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 4rem 2rem;
  margin: 0 auto;
  position: relative;
}

.main-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  z-index: 1;
  color: #fff;
  text-align: center;
  padding: 0 1rem;
  font-size: clamp(2.5rem, 4vw, 5rem);
}

input[type="text"] {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 280px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(203, 191, 191);
  color: #fff;
  outline: none;
  padding: 1rem;
  background: none;
}

input[type="text"]:focus {
  transition: 0.2s;
  border-bottom: 2px solid #fff;
}

.form {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

select {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #fff;
}

.answer-text {
  width: 100%;
  max-width: 280px;
  min-height: 50px;
  max-height: 300px;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 1px solid #fff;
  background-color: none;
}

.off:hover {
  cursor: not-allowed;
}

.btn {
  font-family: "DM Sans", sans-serif;
  color: #fff;
  opacity: 0.3;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  border: 0.5px solid #fff;
  border-radius: 100px;
  padding: 0.7rem 2rem;
  font-weight: 700;
  font-size: 1rem;
  background: linear-gradient(90deg, #00d2ff 0%, #a0a6ee 100%);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.enabled {
  cursor: pointer;
  opacity: 1;
}

.disabled-btns {
  margin-top: 1rem;
  flex-direction: column;
}

.enabled:hover {
  opacity: 0.75;
}

/*Topics*/

.topics {
  width: 100%;
}

.topic {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(40, 81, 133, 0.954);
  padding: 1rem 2rem;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  position: relative;
  border-radius: 10px;
}

.span-text {
  margin-bottom: 1rem;
}

.topic-item {
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.topic-text {
  overflow-x: auto;
  white-space: nowrap;
}

.remove-topic {
  color: red;
  justify-content: center;
  text-align: center;
}

.remove-topic:hover {
  cursor: pointer;
  opacity: 0.75;
}

.topic-item + .topic-item {
  margin-top: 2rem;
}

.topic + .topic {
  margin-top: 2rem;
}

.topics-count {
  color: #fff;
  font-weight: 900;
  margin-top: 2rem;
  text-align: center;
}

/*random-topics*/
.random-topics {
  min-height: 100vh;
}

.back-btn {
  color: rgb(158, 37, 224);
  font-size: 2rem;
  position: absolute;
  top: 2rem;
}

.back-btn:hover {
  color: #fff;
  transition: 0.5s;
  transform: translate(-10px, 0);
}

.mixed-item {
  margin-top: 4rem;
  list-style: none;
}

.covered-topic {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 1;
  border: 2px solid #fff;
  background: linear-gradient(90deg, #a0a6ee 0%, #00d2ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.covered-topic:hover {
  transform: scale(1.1);
}

.covered-topic::after {
  content: "?";
  font-size: 1.5rem;
}

.topic + .topic {
  margin-top: 1.5rem;
}

.remove-topic {
  color: rgb(255, 85, 0);
}

.remove-topic:hover {
  opacity: 0.75;
  cursor: pointer;
}

.hide {
  display: none;
}

.topic-textarea {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  resize: vertical;
  min-height: 100px;
  font-size: 1.1rem;
  outline-color: rgb(119, 0, 255);
  position: relative;
}

.selected {
  display: none;
}

.toggle {
  color: #c0c5f8;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.toggle:hover {
  cursor: pointer;
  opacity: 0.75;
}

/*Rights*/
.rights {
  position: relative;
  bottom: 0;
  width: 100%;
}

.rights-text {
  text-align: center;
  color: #fff;
  padding: 1.5rem 0;
}

/*Header*/
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  position: absolute;
  z-index: 1;
  padding: 1rem;
}

header > .container {
  padding: 0;
}

.about-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;

  color: #fff;
  font-size: 1.5rem;
  -webkit-animation: blink 3s linear infinite;
}

@keyframes blink {
  /*0% 부터 100% 까지*/
  0% {
    color: #00a0e9;
  }
  100% {
    color: #fff;
  }
  /*from부터 to 까지         
        from {color:#00a0e9;}
        to {color:#000;} 
        */
}

.about-btn:hover {
  cursor: pointer;
  opacity: 0.75;
}

/*modal*/
.modal-close-btn:hover {
  cursor: pointer;
  opacity: 0.3;
}

.modal-text-list {
  margin: 1rem;
}

.modal-text-item + .modal-text-item {
  margin-top: 1rem;
}

.modal-text-container li + .modal-text-container li {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  input[type="text"] {
    max-width: 300px;
    font-size: 1.1rem;
  }

  .answer-text {
    min-height: 100px;
  }

  input[type="text"],
  select,
  .answer-text,
  .btn {
    max-width: 300px;
    font-size: 1.1rem;
  }
}
